ion-content {
  --background: #f0f0f0;

  .header {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #333;
  }

  .game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 20px 0;
  }

  ion-grid {
    position: fixed;
    bottom: 20px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-around;

    ion-button {
      margin: 5px;
      --border-radius: 12px;
      --padding-start: 20px;
      --padding-end: 20px;
      --animation: buttonAnimation 1s ease infinite;

      ion-icon {
        margin-left: 8px;
      }
    }
  }

  @keyframes buttonAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

ion-fab-button {
  --width: 60px; /* Changez la largeur du bouton */
  --height: 60px; /* Changez la hauteur du bouton */
  --font-size: 30px; /* Changez la taille de l'icône à l'intérieur du bouton */
}
