<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <i class="fa fa-cog"></i>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>General</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Credit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Valentin</strong> - Big Developer/PDG</p>
      <p><strong>Ethan</strong> - Developer</p>
      <p><strong>Léo</strong> - Tiktok Manager</p>
      <p><strong>Mathéo</strong> - Travel Manager</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
