.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  background-color: #000; /* Fond noir pour le contraste */
}

canvas {
  transform: rotate(-90deg);
  transform-origin: top left;
  border: 2px solid #FFF; /* Bordure blanche pour visualiser le canvas */
}
