ion-button {
  --background: #f4f5f8;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --color: #000;
  height: 1em;
  width: 3em;
  font-size: x-large;
}

.bgskinButton {
  background-size: cover;
  background-repeat: no-repeat;
  --background: transparentize(#f4f5f8, 0);
}

ion-card-title {
  font-size: x-large;
}
