<div>
<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row class="blue-background">
        <ion-col size="10">
          <ion-title>BoardGames</ion-title>
        </ion-col>
        <ion-col>
          <ion-label>Points: {{ playerPoints }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
</div>

<ion-content>
  <swiper-container #swiper>

    <swiper-slide class="ion-text-center carousel" routerLink="{{slide.route}}" *ngFor="let slide of slides">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{slide.title}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
<!--          <div class="caroussel-frame">-->
            <img class="image-game" src="{{slide.img}}" alt="Slide Image">
<!--            <h2>{{slide.title}}</h2>-->
<!--          </div>-->
          <p class="click-to-play">CLICK TO PLAY</p>
        </ion-card-content>

      </ion-card>
    </swiper-slide>

  </swiper-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal('settings')">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="ion-margin">
    <ion-fab-button (click)="openModal('shop')">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
