
/* src/app/presentation/presentation.page.scss */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.carousel-slide img {
  width: 100%;
  height: auto;
}
.carousel-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.carousel-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.carousel-controls button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

